<h1>Update Password</h1>

<%= form_tag update_password_path(@user), method: :patch do  %>
  <%= label_tag :password, "New Password" %>
  <%= password_field_tag :password %>

  <%= label_tag :password, "Confirm New Password" %>
  <%= password_field_tag :password_confirmation %>

  <%= submit_tag 'Update Password' %>
<% end %>
