<h1>Merchant Profile Data</h1>

<p>Name: <%= @merchant.name %></p>
<p>Street Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip: <%= @merchant.zip %></p>
