<h1>Order ID: <%= @order.id %></h1>
<p>Date Created: <%= @order.created_at.strftime("%m/%d/%Y") %></p>
<p>Date Updated: <%= @order.updated_at.strftime("%m/%d/%Y") %></p>
<p>Status: <%= @order.status %></p>

<% @order.order_items.each do |order_item| %>
  <section id='item-<%= order_item.item_id%>'>
    <h2><%= link_to order_item.item.name, item_path(order_item.item_id) %></h2>
    <p>Description: <%= order_item.item.description %></p>
    <%= link_to item_path(order_item.item_id) do %>
      <%= image_tag(order_item.item.image) %>
    <% end %>
    <p>Quantity: <%= order_item.quantity %></p>
    <p>Price: <%= number_to_currency(order_item.price) %></p>
    <p>Subtotal: <%= number_to_currency(order_item.subtotal) %></p>
  </section>
<% end %>

<p>Total Quantity of Items: <%= @order.total_quantity %></p>
<h3>Grand Total: <%= number_to_currency(@order.grand_total) %></h3>
<% if @pending %>
  <%= button_to 'Cancel Order', update_profile_order_path(@order.id), method: :patch %>
<% end %>
