<h1>Edit Item</h1>

<%= form_tag merchant_items_index_path, method: :patch do %>
  <%= hidden_field_tag :id, @item.id %>

  <%= label_tag :name %>
  <%= text_field_tag :name, @item[:name]%>

  <%= label_tag :description %>
  <%= text_field_tag :description, @item[:description] %>

  <%= label_tag :price %>
  <%= number_field_tag :price, @item[:price], min: 0 %>

  <%= label_tag :image %>
  <%= text_field_tag :image, @item[:image] %>

  <%= label_tag :inventory %>
  <%= number_field_tag :inventory, @item[:inventory], min: 0 %>

  <%= submit_tag "Update" %>
<% end %>
