<%= link_to 'New Item', merchant_items_new_path %>

<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p><%= item.description %></p>
    <%= link_to item_path(item) do %>
      <%= image_tag(item.image, onerror: 'this.error=null;this.src="https://i.ya-webdesign.com/images/giants-drawing-ogre-12.png"') %>
    <% end %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p><%= item.active ? "Active" : "Inactive" %></p>
    <% if item.active == false %>
      <%= button_to 'Activate', merchant_activate_path(item.id), method: :patch %>
    <% else %>
      <%= button_to 'Deactivate', merchant_deactivate_path(item.id), method: :patch %>
    <% end %>
    <% if item.orders.empty? %>
      <%= button_to "Delete", merchant_item_delete_path(item), method: :delete %>
    <% end %>
  </section>
<% end %>
