<h1>Order Details</h1>

<p>User Name: <%= @order.name %></p>
<p>User Street Address: <%= @order.address %></p>
<p>User City: <%= @order.city %></p>
<p>User State: <%= @order.state %></p>
<p>User Zipcode: <%= @order.zip %></p>
