<h1>Order Details</h1>

<p>User Name: <%= @user.name %></p>
<p>User Street Address: <%= @user.address %></p>
<p>User City: <%= @user.city %></p>
<p>User State: <%= @user.state %></p>
<p>User Zipcode: <%= @user.zip %></p>

<h1>Items Ordered</h1>

<% @items.each do |item| %>
<section id="item-<%= item.id %>">
  <p>Item Name: <%= link_to item.name, item_path(item) %></p>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">
  <p>Item Price: <%= number_to_currency(item.price) %></p>
  <p>Total Ordered: <%= @order.quantity_of_item(item) %></p>
  <p>Status: <%= @order.find_order_item(item, @order).status %>
  <% if item.enough?(@order.find_order_item(item, @order)) %>
    <% if @order.find_order_item(item, @order).unfulfilled? %>
      <%= button_to "Fulfill", merchant_item_fulfill_path(@order.find_order_item(item, @order)), method: :patch %>
    <% end %>
    <% else  %>
    <p><b>You do not have enough inventory to fulfill this order.</b></p>
  <% end %>
</section>
<% end %>
