<!DOCTYPE html>
<html>
  <head>
    <title>MonsterShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if current_user.nil? %>
        <%= link_to 'Register', register_path %>
        <%= link_to 'Login', login_path %>
      <% end %>
      <%= link_to 'Merchants', '/merchants' %>
      <%= link_to 'Items', '/items' %>
      <% if !current_user.nil? %>
          <%= link_to 'Profile', user_profile_path(current_user) %>
        <%= link_to 'Logout', logout_path %>
      <% end %>
      <% if !current_user.nil? && current_admin?  %>
        <%= link_to "Admin Dashboard", admin_dashboard_path %>
        <%= link_to "All Users", admin_all_users_path %>
      <% end %>
      <% unless !current_user.nil? && current_admin? %>
      <%= link_to "Cart: #{cart.count}", cart_path %>
      <% end %>



    </nav>
    <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
