<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      body {
        background-color: #868a8f;
        text-align: center;
        margin-top: 150px;
      }

      section {
        text-align: center;
      }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:fixed;top:0;width:100%;">
      <a class="navbar-brand" href="/">Monster Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link"<%= link_to 'Home', root_path %></a>

          <% if current_user.nil? %>
            <a class="nav-item nav-link"<%= link_to 'Register', register_path %></a>
            <a class="nav-item nav-link"<%= link_to 'Login', login_path %></a>
          <% end %>

          <% if !current_admin? %>
            <a class="nav-item nav-link"<%= link_to 'Merchants', '/merchants' %></a>
          <% end %>

          <a class="nav-item nav-link"<%= link_to 'Items', '/items' %></a>

          <% if current_admin? %>
            <a class="nav-item nav-link"<%= link_to 'Merchants', admin_merchants_path %></a>
          <% end %>

          <% if current_registered_user? %>
            <a class="nav-item nav-link"<%= link_to 'Profile', profile_path %></a>
          <% end %>


          <% if current_merchant_admin? || current_merchant_user? %>
            <a class="nav-item nav-link"<%= link_to 'Merchant Dashboard', merchant_dashboard_path %></a>
          <% end %>

          <% if !current_user.nil? && current_admin?  %>
            <a class="nav-item nav-link"<%= link_to "Admin Dashboard", admin_dashboard_path %></a>
            <a class="nav-item nav-link"<%= link_to "All Users", admin_all_users_path %></a>
          <% end %>

          <% if current_merchant_admin? %>
          <a class="nav-item nav-link"<%= link_to 'My Items', merchant_items_index_path %></a>
          <% end %>

          <% if !current_user.nil? %>
            <a class="nav-item nav-link"<%= link_to 'Logout', logout_path %></a>
          <% end %>

          <% unless current_merchant_admin? || current_admin? %>
            <a class="nav-item nav-link"<%= link_to "Cart: #{cart.count}", cart_path %></a>
          <% end %>
        </div>
    </div>
  </nav>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:notice] %>
    </div>
    <% elsif flash[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:error] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
       <%= flash[:alert] %>
    </div>
  <% end %>


  <%= yield %>
</body>
</html>
